<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go-HTMX</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"
        integrity="sha384-ZBXiYtYQ6hJ2Y0ZNoYuI+Nq5MqWBr+chMrS/RkXpNzQCApHEhOt2aY8EJgqwHLkJ"
        crossorigin="anonymous"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-8 text-center">
        <div class="bg-white p-4 border rounded-lg max-w-lg m-auto">
            <h1 class="text-2xl font-bold mb-4">Movie database</h1>
            <form hx-post="/add-new-movie" hx-target="#add-movie-field">
                <label for="movie-title">Title</label>
                <input type="text" name="title" id="movie-title">

                <label for="movie-director">Director</label>
                <input type="text" name="director" id="movie-director">

                <label for="movie-rating">Rating</label>
                <input type="text" name="rating" id="movie-rating">

                <label for="movie-favorite">Favorite</label>
                <input type="checkbox" name="favorite" id="movie-favorite" value="true">

                <button class="bg-blue-500 text-white px-4 py-2 rounded" type="submit">Submit</button>
                <button class="bg-blue-500 text-white px-4 py-2 rounded" type="button" hx-get="/find-movie"
                    hx-target="#all-movies" hx-include="closest form">Find
                    movie</button>
                <button class="bg-blue-500 text-white px-4 py-2 rounded" type="button" hx-get="/get-movies"
                    hx-target="#all-movies">All Movies</button>
            </form>

        </div>

        <div class="mt-6 text-xl">
            <p id="add-movie-field"></p>
            <ul>
                <li id="all-movies"></li>
            </ul>
            <hr>

        </div>
    </div>

</body>

</html>
